.alerts-holder {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 10px;
}

.add-bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-holder {
  display: flex;
  flex-direction: column;
  margin: 60px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.add-button {
  margin-top: 20px;
  min-width: none;
  width: 300px;
  margin-bottom: 20px;
  background-color: #4c8bf5;
  border-radius: 4px;
  color: white;
  border: none;
  padding:10px
}

.add-button:hover{
  cursor: pointer;
}

.select {
  width: 300px;
}
.input {
  display: flex;
  width: 300px;
}

@media screen and (max-width: 600px) {
  .add-bookmark-container {
    display: flex;
    flex-direction: column;
  }
  .input {
    display: flex;
    width: 300px;
  }
  .add-svg {
    width: 100px;
  }
  .content-holder {
    margin: auto;
    padding: 10px;
  }
  .select {
    width: 300px;
  }
  .add-button {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
  }
}
