.cardholder {
  display: flex;
  align-items: column;
  padding: 30px;
  margin-left: 25px;
}

.images {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
}
.images:hover{
    cursor: pointer;
}

.cardheaders {
  display: flex;
  justify-content: center;
  font-size: large;
  color: rgb(18, 78, 97);
}
